<!-- <div class="wizard background-1 shadow-sm">
    <div class="container d-flex justify-content-center">
        <div class="containerr s1">
            <div class="flex">
                <div class="col-sm-3 borderr-l d-flex justify-content-evenly">
                    <span class="dot">1</span>
                </div>
                <div class="col-sm-3 borderr d-flex justify-content-evenly">
                    <span class="dot">2</span>
                </div>
                <div class="col-sm-3 borderr d-flex justify-content-evenly">
                    <span class="dot">3</span>
                </div>
                <div class="col-sm-3 borderr-r d-flex justify-content-evenly">
                    <span class="dot">4</span>
                </div>
            </div>
        </div>
    </div>
</div>   -->

<div class="wizard background-2">
    <div class="s2">
        <router-outlet></router-outlet>
    </div>
</div>