<div class="wizard background-1 shadow-sm" style="height: 10vh;">
    <div class="container d-flex justify-content-center">
        <div class="containerr">
            <div class="flex">
                <div class="col-sm-3 active_borderr-l borderr-l d-flex justify-content-evenly">
                    <span class="dot active">1</span>
                </div>
                <div class="col-sm-3 active_borderr borderr d-flex justify-content-evenly">
                    <span class="dot active">2</span>
                </div>
                <div class="col-sm-3 active_borderr borderr d-flex justify-content-evenly">
                    <span class="dot active">3</span>
                </div>
                <div class="col-sm-3 active_borderr-r borderr-r d-flex justify-content-evenly">
                    <span class="dot active">4</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h6 class="text-light pt-2">Congrulations</h6>
</div>
<div class="margin">
    <div id="card">
        <div id="containerr">
            <div class="mb-3 mt-3 row">
                <p>Your profile has been created successfully</p>
            </div>
            <div class="row">
                <div class="col-md-10 p-1"></div>
                <div class="col-md-2 p-1">
                    <div class="btn btn-danger" (click)="onFinish()">CLOSE</div>
                </div>
            </div>
        </div>
    </div>
</div>